.Container {
    display: grid;
    grid-template-rows: repeat(52, 10px);
    grid-template-columns: repeat(52, 10px);   
    /* grid-gap:10px;*/
}

body {
    
    background-image: linear-gradient(to right, white, lightblue, white); */

}

.R1972 {
    grid-column: 3;
    grid-row: 50 / 40;
    background-color: red;  
}
.D1972{
    grid-column: 4;
    grid-row: 50 / 26;
    background-color: blue;

}
.I1972{grid-column: 5;
    grid-row: 50 / 49;
    background-color: green;

}

.R1976{ grid-column: 7;
    grid-row: 50 / 39;
    background-color: red;

}
.D1976{ grid-column: 8;
    grid-row: 50 / 23;
    background-color: blue;

}
.I1976{ grid-column: 9;
    grid-row: 50 / 49;
    background-color: green;

}

.R1980{ grid-column: 11;
    grid-row: 50 / 36;
    background-color: red;

}
.D1980{ grid-column: 12;
    grid-row: 50 / 19;
    background-color: blue;

}
.I1980{ grid-column: 13;
    grid-row: 50 / 47;
    background-color: green;

}

.R1984{ grid-column: 15;
    grid-row: 50 / 31;
    background-color: red;

}
.D1984{ grid-column: 16;
    grid-row: 50 / 17 ;
    background-color: blue;

}
.I1984{ grid-column: 17;
    grid-row: 50 / 46 ;
    background-color: green;

}

.R1988{ grid-column: 19;
    grid-row: 50 / 26;
    background-color: red;

}
.D1988{ grid-column: 20;
    grid-row: 50 / 17;
    background-color: blue;

}
.I1988{ grid-column: 21;
    grid-row: 50 / 46;
    background-color: green;

}

.R1992{ grid-column: 23;
    grid-row: 50 / 23;
    background-color: red;

}
.D1992{ grid-column: 24;
    grid-row: 50 / 17;
    background-color: blue;

}
.I1992{ grid-column: 25;
    grid-row: 50 / 44;
    background-color: green;

}

.R1996{ grid-column: 27;
    grid-row: 50 /17;
    background-color: red;

}
.D1996{ grid-column: 28;
    grid-row: 50 /12;
    background-color: blue;

}
.I1996{ grid-column: 29;
    grid-row: 50 /40;
    background-color: green;

}

.R2000{ grid-column: 31;
    grid-row: 50 / 15;
    background-color: red;

}
.D2000{ grid-column: 32;
    grid-row: 50 / 12;
    background-color: blue;

}
.I2000{ grid-column: 33;
    grid-row: 50 / 35;
    background-color: green;

}

.R2004{ grid-column: 35;
    grid-row: 50 / 10;
    background-color: red;

}
.D2004{ grid-column: 36;
    grid-row: 50 / 7;
    background-color: blue;

}
.I2004{ grid-column: 37;
    grid-row: 50 / 28;
    background-color: green;

}

.R2008{ grid-column: 39;
    grid-row: 50 / 9;
    background-color: red;

}
.D2008{ grid-column: 40;
    grid-row: 50 / 2;
    background-color: blue;

}
.I2008{ grid-column: 41;
    grid-row: 50 / 25;
    background-color: green;

}

.R2012{ grid-column: 43;
    grid-row: 50 / 8;
    background-color: red;

}
.D2012{ grid-column: 44;
    grid-row: 50 / 2;
    background-color: blue;

}
.I2012{ grid-column: 45;
    grid-row: 50 / 20;
    background-color: green;

}

.R2016{ grid-column: 47;
    grid-row: 50 / 4;
    background-color: red;

}
.D2016{ grid-column: 48;
    grid-row: 50 / 1;
    background-color: blue;

}
.I2016{ grid-column: 49;
    grid-row: 50 / 15;
    background-color: green;

}

.C1972{ grid-column: 3;
    grid-row: 51;
}

.C1976{ grid-column: 7;
    grid-row: 51;
}

.C1980{ grid-column: 11;
    grid-row: 51;
}

.C1984{ grid-column: 15;
    grid-row: 51;
}

.C1988{ grid-column: 19;
    grid-row: 51;
}

.C1992{ grid-column: 23;
    grid-row: 51;
}

.C1996{ grid-column: 27;
    grid-row: 51;
}

.C2000{ grid-column: 31;
    grid-row: 51;
}

.C2004{ grid-column: 35;
    grid-row: 51;
}

.C2008{ grid-column: 39;
    grid-row: 51;
}

.C2012{ grid-column: 43;
    grid-row: 51;
}

.C2016{ grid-column: 47;
    grid-row: 51;
}

.Article-image {
    height: 100px;
    width: 100px;
    grid-column: 3;
}

.Article-title {
    grid-column:4;
    grid-row:2;

}

.Article-summary {
    grid-column:4;
    grid-row:2;
}